<div class="col-md-12" id="dashbody">
  <div class="col-md-2 nav-panel">
    <h3><a href="/dashboard"><%= @user.corp %></a></h3>
    <h4><a href="/dashboard/search">Search</a></h4>
    <h4><a href="/dashboard/upload">Upload</a></h4>
  </div>
  <div class="col-md-10" id="display">
    <h2>Dashboard</h2>
    <p>client information</p>
    <p>Link to search</p>
  </div>
</div>