<div class="col-md-12" id="body">
  <div class="col-md-2 nav-panel"><h1><%= @user.corp %></h1></div>
  <div class="col-md-10" id="display">
    <h1>Dashboard</h1>
    <p>yield employee display</p>
  </div>
</div>