<div class="col-md-12 nav-panel">
  <div class="col-md-6 dashboard_menu_item">
    <h4><a href="/dashboard/search">Search</a></h4>
  </div>
  <div class="col-md-6 dashboard_menu_item">
    <h4><a href="/dashboard/upload">Upload</a></h4>
  </div>
</div>