<div class="row">
  <div class="col-md-12" id="dashboard_header">
    <div class="col-md-3 header_padding"><a href="/">
      <button type="button" class="btn btn-primary">Home Page</button>
    </a></div>
    <div class="col-md-4 col-md-offset-1">
      <a href="/"><img src="/img/csi_logo.png" style="height:110px;padding-left:15px;"></a></div>
    <div class="col-md-3 header_padding"><h4><%= @user.email %></h4></div>
    <div class="col-md-1 header_padding">
      <button type="button" class="btn btn-primary"><%= link_to 'Sign out', destroy_user_session_path %></button>
    </div>
  </div>
</div>
